/* @Fonts */

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(./fonts/RobotoSlab-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General */

html {
    width: 100%;
}

body {
    background-color: snow;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    width: 100%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    padding: 0;
    margin: 8px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    padding: 0;
    margin: 16px 0;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* header */

#header {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.5);
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#logo {
    align-items: center;
    display: flex;
}

#logo-img {
    cursor: pointer;
    margin: 8px;
    width: 48px;
}

#menu-icon {
    color: black;
    text-align: center;
    margin: 24px;
}
#menu-icon:hover {
    color: coral;
    cursor: pointer;
}
#menu-icon:active {
    cursor: default;
    transform: scale(0.9);
}

/* menu */

#menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#menu-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transform-origin: right center;
    visibility: hidden;
}

.menu-item {
    align-items: center;
    display: flex;
    justify-content: baseline;
    margin: 1px;
    padding: 4px;
}
.menu-item:hover * {
    color: coral;
    cursor: pointer;
}
.menu-item:active {
    cursor: default;
    transform: scale(0.9);
}
.menu-item i {
    align-self: center;
    color: black;
}
.menu-item p {
    margin: 8px;
}

/* content */

#content {
    display: flex;
    flex-direction: column;
    position: static;
    margin-top: 76px;
    width: 100%;
}

.content-div {
    border: solid black;
    border-width: 1px 0;
    padding: 84px 24px;
}

#o-que-fazemos, #contacto {
    background-color: navajowhite;
}

#showcase-item {
    align-items: center;
    background-image: url(./img/background.jpg);
    border: solid black;
    border-width: 1px 0;
    background-size: cover;
    display: flex;
    height: calc(100vh - 76px);
    justify-content: center;
    width: 100%;
}

#showcase-card {
    background-color: darkslategrey;
    padding: 48px;
    color: snow;
    width: 50%;
}

#obras {
    text-align: center;
}

#obras-menu {
    align-items: center;
    display: flex;
    justify-content: center;
}
#obras-menu p {
    margin: 4px;
}

#obras-industria {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 500px;
    margin: 16px auto;
    width: 1000px;
}
.obras-i {
    border: 1px solid black;
}
.obras-ib {
    background-size: cover;
    height: 100%;
    width: 100%;
}
#obras-i1 {
    grid-row: span 2;
}
#obras-i1b {
    background-image: url(./img/cs-wind.jpg);
}
#obras-i2 {
    grid-column: span 2;
}
#obras-i2b {
    background-image: url(./img/cgi-frielas.jpg);
}
#obras-i3 {
    grid-row: span 2;
}
#obras-i3b {
    background-image: url(./img/meo.jpg);
}
#obras-i4 {
    grid-column: span 2;
}
#obras-i4b {
    background-image: url(./img/cordex.png);
}

/* footer */

#footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0px;
    position: static;
    width: 100%;
}
#footer div {
    text-align: center;
    width: 304px;
}

#contacte {
    text-align: right;
}
#contacte div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
#contacte div * {
    margin: 8px;
}
#contacte p {
    text-align: right;
    width: 175px;
}
#contacte i {
    text-align: center;
    width: 18px;
}

#links p {
    margin: 16px;
}
#links p a {
    color: black;
    text-decoration: none;
}
#links p a:hover {
    color: coral;
    text-decoration: underline;
}

#media div {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
}
#media div a i {
    color: black;
    text-align: center;
    width: 27px;
}
#media div a i:hover {
    cursor: pointer;
    transform: scale(1.1);    
}
#media div a i:active {
    cursor: default;
    transform: scale(0.9);    
}

#facebook-icon:hover {
    color: #1877F2;
}

#linkedin-icon:hover {
    color: #0077B5;
}

/* trademark */

#trademark {
    background-color: black;
    color: whitesmoke;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}

/* @Keyframes */

@keyframes growX {
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}

@keyframes shrinkX {
    0% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}

@keyframes rotateLeft {
    0% {transform: rotate(0);}
    100% {transform: rotate(-180deg);}
}

@keyframes rotateRight {
    0% {transform: rotate(-180deg);}
    100% {transform: rotate(0);}
}